<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="false"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>


    <!--指定类所在的包名,可以直接以类名作为data snType,避免了冗长的全限定类名-->
    <typeAliases>
        <package name="me.henuer.my2.dao"/>
    </typeAliases>

    <!--指枚举typeHandler-->
    <typeHandlers>
        <typeHandler handler="me.henuer.my2.enums.CodeEnumTypeHandler"
                     javaType="me.henuer.my2.enums.SnStatus"/>
        <typeHandler handler="me.henuer.my2.enums.CodeEnumTypeHandler"
                     javaType="me.henuer.my2.enums.SnType"/>
    </typeHandlers>

</configuration>